<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthcaresolutions.norgine.moviprepcolonoprep"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.healthcaresolutions.norgine.moviprepcolonoprep.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.healthcaresolutions.norgine.moviprepcolonoprep.AdministrateAppointmentActivity"
            android:label="@string/title_activity_administrate_appointment" >
        </activity>
    	<activity
            android:name="com.healthcaresolutions.norgine.moviprepcolonoprep.AddAppointment"
            android:label="@string/addAppointment" >
        </activity>
        <activity
            android:name="com.healthcaresolutions.norgine.moviprepcolonoprep.Medicine_info"
            android:label="@string/title_info" >
        </activity>
        <activity
            android:name="com.healthcaresolutions.norgine.moviprepcolonoprep.Imprint"
            android:label="@string/title_info" >
        </activity>
    </application>

        <activity
            android:name="com.healthcaresolutions.norgine.moviprepcolonoprep.Medicine_info"
            android:label="@string/title_activity_medicine_info" >
        </activity>
        <activity
            android:name="com.healthcaresolutions.norgine.moviprepcolonoprep.Imprint"
            android:label="@string/title_activity_imprint" >
        </activity>
    </application>

</manifest>
